### Pandas Working With HTML 

In this Part we are going to learn about

1. read HTML(read_html)
2. To HTML(to_html)

In [7]:
import pandas as pd

In [8]:
html=pd.read_html("https://en.wikipedia.org/wiki/List_of_countries_by_external_debt")

In [9]:
type(html)

list

In [10]:
html[0]

,Country/Region,Per capita US dollars,External debt US dollars,% of GDP,% of total wealth[1],Date
0,United States,98094.0,32.9 trillion,122.56,23.52,August 2023 [2][3]
1,United Kingdom,130034.0,8.7 trillion,287.08,54.47,October 2023[4]
2,Japan,34832.0,4.34 trillion,98.44,19.22,June 2023[4]
3,Netherlands,215569.0,3.79 trillion,381.62,77.84,December 2022[4]
4,France,49767.0,3.28 trillion,112.06,20.86,March 2023[2]
...,...,...,...,...,...,...
205,Anguilla (UK),590.0,8.8 million,5.00,NaN,1998[96]
206,Wallis and Futuna (France),280.0,3.67 million,6.00,NaN,2004[97]
207,Montserrat (UK),200.0,1.04 million,2.00,NaN,31 December 2011[98]
208,Liechtenstein,0.0,0.00,0.00,NaN,2001[99]
209,Niue (New Zealand),0.0,0.00,0.00,NaN,27 October 2016[100]

In [11]:
html=pd.read_html("https://en.wikipedia.org/wiki/Economy_of_the_United_States",match="Government debt")

In [12]:
html[0]

,0,1
0,"New York City, the world’s principal financial...","New York City, the world’s principal financial..."
1,Currency,United States dollar (USD) US Dollar Index
2,Fiscal year,October 1 – September 30
3,Trade organizations,"WTO, G-20, G7, OECD, USMCA, APEC and others"
4,Country group,".mw-parser-output .plainlist ol,.mw-parser-out..."
5,Statistics,Statistics
6,Population,"340,332,281 (August 30, 2023)[6]"
7,GDP,$26.950 trillion (nominal; 2023 est.)[7] $26.9...
8,GDP rank,1st (nominal; 2023) 2nd (PPP; 2023)
9,GDP growth,2.1% (2022)[8] 2.1% (2023f)[8] 1.5% (2024f)[8]
10,GDP per capita,"$80,412 (nominal; 2023)[7] $80,412 (PPP; 2023)[7]"
11,GDP per capita rank,7th (nominal; 2023) 10th (PPP; 2023)
12,GDP by sector,Agriculture: 0.9% Industry: 18.9% Services: 80...
13,GDP by component,Household consumption: 68.4% Government consum...
14,Inflation (CPI),3% (2023)[9]
15,Population below poverty line,11.6% (2021)[10] 38 million (2021)[10]
16,Gini coefficient,"49.4 high (2021, USCB)[11] 43.4 medium (2017,..."
17,Human Development Index,0.921 very high (2021)[13] (21st) 0.819 very ...
18,Labor force,"161,200,000 (2023)[15] 62.4% employment rate (..."
19,Labor force by occupation,Agriculture: 1.0% Industry: 19% Services: 80% ...
20,Unemployment,3.4% (January 2023)[15] 10.4% youth unemploym...
21,Average gross salary,"$5,407 / €5,052 monthly[17] (2022)"
22,Average net salary,"$4,066 / €3,799 monthly[18][19] (2022)"
23,Main industries,".mw-parser-output .hlist dl,.mw-parser-output ..."
24,External,External
25,Exports,$3.009 trillion (2022)[20]
26,Export goods,Agricultural products 10.7%Fuels and mining pr...
27,Main export partners,European Union(+) 18.7% Canada(+) 18.3% Mexico...
28,Imports,$3.957trillion (2022)[20]
29,Import goods,Agricultural products 10.5%Fuels and mining pr...
30,Main import partners,China(-) 21.4% European Union(+) 18.9% Mexico(...
31,FDI stock,Inward: $367 billion (2021)[24] Outward: $403...
32,Current account,−$985.25 billion (2022)[25] −3.93% of GDP (20...
33,Gross external debt,$27 trillion (2023)[26]
34,Public finances,Public finances
35,Government debt,$30.568 trillion 122.1% of GDP (2022)[25]
36,Budget balance,–5.5% of GDP (2022)[27]
37,Revenues,$8.371 trillion[25] 33.4% of GDP (2022)
38,Expenses,$9.379 trillion[25] 37.4% of GDP (2022)
39,Economic aid,"donor: ODA, $35.26 billion (2017)[28]"
40,Credit rating,Standard & Poor's:[29][30] AA+ (Domestic) AA+ ...
41,Foreign reserves,$217 billion (2023)[34]
42,Main data source: CIA World Fact Book All valu...,Main data source: CIA World Fact Book All valu...

In [13]:
html=pd.read_html("https://en.wikipedia.org/wiki/Minnesota",match="Average daily maximum and minimum temperatures for selected cities in Minnesota")

In [14]:
html[0]

              Location July (°F) July (°C) January (°F) January (°C)
0          Minneapolis     83/64     28/18         23/7       −4/−13
1           Saint Paul     83/63     28/17         23/6       −5/−14
2            Rochester     82/63     28/17         23/3       −5/−16
3               Duluth     76/55     24/13         19/1       −7/−17
4            St. Cloud     81/58     27/14        18/−1       −7/−18
5              Mankato     86/62     30/16         23/3       −5/−16
6  International Falls     77/52     25/11        15/−6       −9/−21

In [15]:
type(html[0])

pandas.core.frame.DataFrame

In [16]:
html[0].to_html('demo.html')